.btn {
  font-size: 1.4rem;
  display: block;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  border: none;
  transform: translateX(1.5rem);

  &-color-primary {
    // background: #0b6831;
    background: #680b42;
    // background: #ffcc00;
    color: #eee;
    transition: all 0.3s;
    box-shadow: 0.5rem 0.5rem 0.8rem rgba(2, 20, 9, 0.9);
    animation: move-up 0.8s ease-in-out;
    animation-delay: 0.2s;

    &:hover {
      box-shadow: 0.7rem 0.7rem 1rem rgba(0, 0, 0, 0.6);
      transform: translate(1.5rem, -1px) scale(1.05);
      background: #772354;
    }
    &:active {
      box-shadow: 0.5rem 0.5rem 0.8rem rgba(44, 11, 31, 0.4);
      transform: translate(1.5rem, 0) scale(1);
    }
  }
}
