.build {
  &-container {
    background: rgb(7, 7, 7);
    padding: 4rem;
    text-align: center;

    &:first-child {
      text-align: center;
    }

    & h2 {
      font-weight: 300;
      font-size: 7.2rem;
      line-height: 1.6;
      letter-spacing: 0.3rem;
      max-width: 1000px;
      margin: 12rem auto;
    }
  }
}
