.footer {
  background: rgb(7, 7, 7);
  padding: 4rem;

  &-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  // &-find-me {
  //   & > a {
  //     display: inline-block;
  //     font-size: 3rem;
  //     margin-right: 0.5rem;
  //     box-shadow: $shadow-normal;
  //     transition: all 0.7s;

  //     &:hover {
  //       box-shadow: $shadow-rise;
  //       color: $color-primary-light;
  //     }
  //   }
  // }

  & p {
    margin-top: 2.5rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
}

.footer-container-find-me a {
  display: inline-block;
  font-size: 3rem;
  margin-right: 0.5rem;
  box-shadow: $shadow-normal;
  transition: all 0.7s;

  &:hover {
    box-shadow: $shadow-rise;
    color: $color-primary-light;
  }
}
