.section {
  &-projects {
    text-align: center;
    color: $color-black;
    letter-spacing: 0.2rem;

    & h2 {
      display: inline-block;
      font-size: 5rem;
      text-decoration: underline;
    }

    &-body {
      max-width: 108rem;
      background: $color-secondary-white;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      grid-gap: 2rem;
      padding: 1.2rem 1.6rem;
      border-radius: 1rem;
      overflow-x: hidden;
    }
  }
}

@media (max-width: 900px) {
  .section-projects {
    &-body {
      grid-template-columns: repeat(1, 1fr);
      width: 70%;
    }
  }
}
