.projects-container-find-me {
  position: absolute;
  top: 7rem;
  left: 1.8rem;
  transition: all 0.6s;

  & a {
    display: inline-block;
    margin-right: 0.3rem;
    font-size: 1.4rem;
    &:hover {
      color: $color-primary;
    }
  }
}

.projects-header {
  height: 14rem;

  &::before {
    background: url("../../img/cb_bg.jpg") no-repeat center center / cover;
  }
}

.projects-nav-bar {
  max-width: 100%;
}

.projects {
  overflow-x: hidden;
  &-title {
    max-width: 140rem;
    margin: 0 auto 3.2rem auto;
    animation: move-in-left 1s ease-out;
    padding: 0 0 0 2rem;

    & h1 {
      font-size: 5rem;
      font-weight: 300;
      letter-spacing: 0.6rem;
      margin: 0.6rem 0 1.6rem 0;
    }

    & p {
      font-size: 1.6rem;
      line-height: 2.4;
      letter-spacing: 0.1rem;
    }
  }
  // &-nav-bar-container {
  // }

  &-container {
    background: rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem 0;
    // height: 60vh;
    // background: rgb(7, 7, 7);

    & h2 {
      // max-width: 140rem;
      font-size: 3.6rem;
      letter-spacing: 0.2rem;
      font-weight: 400;
      margin-bottom: 0.4rem;
      // text-align: right;
    }
    // & .btm-border-primary {
    // }
  }

  &-websites,
  &-apps {
    height: 100%;
    flex: 1;
    margin: 0 auto;
    padding: 1rem;

    &-display {
      display: flex;
      flex-direction: column;
    }
  }
}
// &-apps {
//   height: 100%;
//   // width: 100%;
//   flex: 1;
//   // text-align: left !important;
//   // max-width: 140rem;
//   // margin: 0 auto;

//   // & h2 {
//   //   // max-width: 140rem;

//   // }
// }

.projects-underline {
  transform: translateX(9.5rem);
}
