.about-me {
  // height: 80vh;
  position: relative;

  &-body {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

    &-description {
      flex: 3;
      font-size: 1.6rem;
      line-height: 1.8;
      padding: 2rem 3rem;
      margin-right: 6rem;
      // animation: move-in-right 1.5s ease-out;
      // animation-delay: 0.2s;

      a {
        display: inline-block;
        font-size: 3rem;
        margin-right: 0.5rem;
        box-shadow: $shadow-normal;
        transition: all 0.7s;

        &:hover {
          box-shadow: $shadow-rise;
          color: $color-primary-light;
        }
      }

      & h2 {
        font-size: 3.2rem;
        font-weight: 300;
      }

      & p {
        font-size: 1.8rem;
        line-height: 2.4;
        font-weight: 300;

        &:first-of-type {
          margin: 0.5rem 0;
        }
      }
    }
  }

  & .right-side {
    flex: 2;
    width: 100%;
    background: url("../../img/hero-img-blue-crop.jpg") no-repeat center center /
      cover;
  }
}
