.about-me {
  position: relative;
  overflow: hidden;

  &-body {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

    &-description {
      flex: 3;
      font-size: 1.6rem;
      line-height: 1.8;
      padding: 2rem 3rem;
      margin-right: 6rem;

      a {
        display: inline-block;
        font-size: 3rem;
        margin-right: 0.5rem;
        box-shadow: $shadow-normal;
        transition: all 0.7s;

        &:hover {
          box-shadow: $shadow-rise;
          color: $color-primary-light;
        }
      }

      & h2 {
        font-size: 3.2rem;
        font-weight: 300;
      }

      & p {
        font-size: 1.8rem;
        line-height: 2.4;
        font-weight: 300;

        &:first-of-type {
          margin: 0.5rem 0;
        }
      }
    }
  }

  & .right-side {
    transform: translate(14rem, 9.5rem);
    flex: 2.5;

    & img {
      width: 80%;
      border-radius: 3rem;
    }
  }
}

@media (max-width: 915px) {
  .right-side {
    display: none;
  }

  .about-me-body-description {
    text-align: center;
    margin-right: 0;
  }
}
