.header {
  position: relative;
  height: 70vh;

  & .btm-border-header {
    &:last-of-type {
      transform: translate(-5.4rem, 4rem);
      margin-bottom: 1.4rem;
    }

    &-left {
      transform: translate(-1rem, 3rem);
      margin-bottom: 1.4rem;
      border-bottom: none;
      width: 2px;
      height: 4.5rem;
      border-right: 6px solid $color-secondary;
    }

    &-btn {
      transform: translate(-2rem, 10rem);
    }
  }

  &-text {
    position: absolute;
    top: 30%;
    right: 5%;
    & h1 {
      font-size: 6.2rem;
      padding: 0.7rem 1rem;
      animation: move-in-left 1s ease-out;
      animation-delay: 0.2s;
      color: $color-black;
      line-height: 1.2;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
    }

    & p {
      display: inline-block;
      box-shadow: $shadow-normal;
      animation: move-in-right 1s ease-out;
      animation-delay: 0.2s;
    }
  }

  &::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background: url("../../img/header-dark.jpg") no-repeat center center/cover;
    box-shadow: $shadow-normal;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: 0;
  color: $color-white;
  max-width: 1600px;
  margin: 1rem auto;

  &-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }

  &-logo {
    position: absolute;
    top: 0;
    left: 1.5rem;
    box-shadow: $shadow-normal;

    &-click {
      position: absolute;
      top: 0;
      left: 0rem;
      height: 6.4rem;
      width: 6.4rem;
      background: url("../../img/headshot2.jpg") no-repeat center center/ cover;
      border-radius: 50%;
      border: 0.2rem solid $color-secondary;
    }

    & p {
      position: absolute;
      top: 1.7rem;
      left: 7rem;
      font-size: 1.4rem;
    }
  }

  & ul {
    list-style: none;
    margin-right: 2rem;
    display: flex;
    margin-top: 0.6rem;
    & li a {
      text-decoration: none;
      display: inline-block;
      padding: 0.8rem 1.2rem;
      font-size: 1.4rem;
      color: $color-white;
      margin: 0 0.5rem;
      box-shadow: $shadow-normal;
      transition: all 0.3s;
      border-radius: 0.3rem;
      background: rgba($color-secondary-dark, 1);

      &:hover {
        background: $color-secondary;
        color: $color-white;
        transform: translateY(-1px);
        box-shadow: $shadow-rise;
      }

      &:active {
        transform: translateY(0);
        box-shadow: $shadow-normal;
      }
    }
  }

  &-list {
  }
}

.side-nav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background: $gradient-secondary-dark;
  text-align: center;
  transition: all 0.3s;

  & .btn-close {
    display: none;
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
  }

  & a {
    display: block;
    font-size: 3.2rem;
    padding: 1.6rem 2.4rem;
    border-bottom: 1px solid $color-secondary-dark;

    &:hover {
      background: $color-secondary-dark;
    }

    &:first-child {
      font-size: 3rem;
    }

    &:nth-child(2) {
      margin-top: 8.5rem;
    }
  }
}

.nav-bar-open-slide-click {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 0.6rem 0.8rem;
  background: rgba($color-black, 1);
  border-radius: 0.3rem;
  box-shadow: $shadow-normal;

  & path {
    stroke: $color-white;
  }
}

a {
  text-decoration: none;
  color: $color-white;
}
