.skills {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 4rem;
  padding-bottom: 4rem;

  & .btm-border {
    transform: translateX(0);
  }

  & h2 {
    margin-top: 1rem;
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
  }
  &-container {
    margin: 0 auto;
    background: rgb(7, 0, 0);
    background: rgb(14, 14, 14);
    display: flex;
    padding: 2rem 3rem;

    max-width: 1200px;
  }

  &-img {
    flex: 2.5;
    position: relative;

    & img {
      transform: translate(-8rem, 12rem);

      width: 80%;
    }
  }

  &-list {
    flex: 3;
    padding: 0.6rem;

    &-container {
      display: flex;

      & h2 {
        font-size: 2rem;
        font-weight: 300;
        margin: 1rem 0;
      }

      & h3 {
        font-size: 2.6rem;
        font-weight: 500;
        margin-top: 2rem;

        color: $color-primary-dark;
        line-height: 1.4;
        letter-spacing: 0.3rem;
      }

      & p {
        font-size: 1.6rem;
        line-height: 2.6;
      }

      & .knowledge {
        width: 100%;
        text-align: center;
        padding: 1rem;
      }

      & .familiar {
        text-align: center;
        width: 100%;
        padding: 1rem;
      }
    }
  }
}

.icon {
  &-laptop,
  &-code {
    color: $color-primary;
  }
  &-css {
    color: blue;
  }
  &-html {
    color: orangered;
  }
}

@media (max-width: 915px) {
  .skills-img {
    display: none;
  }
}

@media (max-width: 280px) {
  .skills-list-container {
    display: block;
  }
}
