.projects-header-new {
  height: 14rem;
  position: relative;
  max-width: 100%;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../img/header-dark.jpg") no-repeat center center / cover;
  }
}

.card {
  max-width: 90rem;

  display: flex;

  padding: 0.6rem 1rem;

  &:last-of-type {
    padding-bottom: 4rem;
  }
  &-img {
    position: relative;
    width: 100%;
    flex: 1.5;
    padding: 1rem;
    &-photo {
      position: absolute;
      width: 75%;
      box-shadow: 0 0.6rem 1.6rem rgba($color-primary, 0.7);
      border-radius: 0.2rem;
      z-index: 10;
      transition: all 0.4s;

      &-1 {
        left: -3.5rem;
        top: 1.5rem;
      }
      &-2 {
        right: 0.5rem;
        top: 4rem;
      }
      &-3 {
        left: 2rem;
        top: 10.5rem;
      }
      &-4 {
        left: 3rem;
        top: 1.4rem;
        width: 60%;
      }

      &:hover {
        transform: scale(1.1) translateY(-0.5rem);
        box-shadow: 0 0.8rem 2rem rgba($color-primary, 0.8);
        z-index: 30;
      }
    }
  }
  &-content {
    width: 100%;
    flex: 2.5;
    margin-left: 4.5rem;
    text-align: left;

    &-view {
      padding: 0.4rem;
      display: flex;

      justify-content: center;

      & p {
        color: $color-tertiary;
        font-weight: 700;
      }
      & p:first-of-type {
        margin-right: 1rem;
        font-size: 2.5rem;
      }

      & p:last-of-type {
        margin-left: 1rem;
      }

      &-button {
        margin-top: 0.6rem;
        display: inline-block;
        padding: 0.8rem 1.2rem;
        background: $color-secondary;
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 500;
        transition: 0.4s all;
        border-radius: 0.3rem;
        box-shadow: $shadow-normal;

        &:hover {
          background: $color-primary-dark;
          color: $color-white;
          box-shadow: $shadow-rise;
          transform: translateY(-0.1rem);
        }
        &:active {
          transform: translateY(0);
        }
      }
      &-app {
        margin-right: 1rem;
      }
      &-code {
      }
    }

    & .card-h3 {
      display: block;
      font-size: 2.6rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
      line-height: 1.2;
      text-align: right;
      color: $color-primary-light;
      padding: 0.8rem 0.6rem 0.6rem 0.6rem;
    }

    & .card-text {
      padding: 0.4rem;
      font-size: 1.6rem;
      line-height: 1.6;
    }

    & .tech-used {
      text-align: right;
      font-size: 1.2rem;
      color: rgba($color-white, 0.9);
    }
  }
}

@media (max-width: 800px) {
  .card {
    display: flex;
    padding: 0.6rem 1rem;
    flex-direction: column;

    &-img {
      width: 100%;
      flex: 1.5;
      padding: 1rem;
      &-photo {
        position: static;
        width: 75%;
        box-shadow: 0 0.6rem 1.6rem rgba($color-primary, 0.7);
        border-radius: 0.2rem;
        z-index: 10;
        transition: all 0.4s;

        &-1 {
          left: -3.5rem;
          top: 1.5rem;
          display: none;
        }
        &-2 {
          right: 0.5rem;
          top: 4rem;
          display: none;
        }
        &-3 {
        }
      }
    }
    &-content {
      width: 100%;
      flex: 2.5;
      margin: 0;
      text-align: center;

      & .card-h3 {
        text-align: inherit;
      }

      &-view {
        display: flex;

        justify-content: center;

        & p {
          color: $color-tertiary;
          font-weight: 700;
        }
        & p:first-of-type {
          margin-right: 1rem;
          font-size: 2.5rem;
        }

        & p:last-of-type {
          margin-left: 1rem;
        }

        &-button {
          margin-top: 0.6rem;
          display: inline-block;
          padding: 0.8rem 1.2rem;
          background: $color-secondary;
          color: $color-white;
          font-size: 1.6rem;
          font-weight: 500;
          transition: 0.4s all;
          border-radius: 0.3rem;
          box-shadow: $shadow-normal;

          &:hover {
            background: $color-primary-dark;
            color: $color-white;
            box-shadow: $shadow-rise;
            transform: translateY(-0.1rem);
          }
          &:active {
            transform: translateY(0);
          }
        }
        &-app {
          margin-right: 1rem;
        }
        &-code {
        }
      }

      & h3 {
        font-size: 2.6rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        line-height: 1.2;
        text-align: center;
        color: $color-primary;
      }

      & p {
        font-size: 1.6rem;
        line-height: 1.6;
      }

      & .tech-used {
        text-align: center;
        font-size: 1.2rem;
        color: rgba($color-white, 0.9);
      }
    }
  }
}
