*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #fff;
  // font-family: "Antic", sans-serif;
  font-family: "Lato", sans-serif;

  background: #color-white;
}
