.margin-top-small {
  margin-top: 0.8rem;
}
.margin-top-medium {
  margin-top: 1.6rem;
}
.margin-top-large {
  margin-top: 3.2rem;
}

.margin-top-huge {
  margin-top: 7rem;
}

.margin-btm-small {
  margin-bottom: 0.8rem;
}
.margin-btm-medium {
  margin-bottom: 1.6rem;
}
.margin-btm-large {
  margin-bottom: 3.2rem;
}
