$color-primary: #d34a14;
$color-primary-dark: #93330e;
$color-primary-light: #e0805a;
$color-primary-lightest: #edb6a1;
$color-primary-white: #faece7;

$color-secondary: #033b3b;
$color-secondary-dark: #022929;
$color-secondary-light: #4e7575;
$color-secondary-white: #e5ebeb;

$color-white: #eee;
$color-black: #111;

// Shadows
$shadow-normal: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
$shadow-rise: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.8);

$gradient-primary-dark: linear-gradient(
  to right bottom,
  rgba($color-primary, 0.2),
  rgba($color-primary-dark, 0.2)
);

$gradient-primary-light: linear-gradient(
  to bottom right,
  rgba($color-primary-lightest, 0.7),
  rgba($color-primary-light, 0.7)
);

$gradient-secondary-light: linear-gradient(
  to bottom right,
  rgba($color-secondary-light, 0.95),
  rgba($color-secondary, 0.95)
);

$gradient-secondary-dark: linear-gradient(
  to bottom right,
  rgba($color-secondary, 0.95),
  rgba($color-secondary-dark, 0.95)
);
