// Colors
$color-primary: #34bebe;
$color-primary-dark: #0c8488;
$color-primary-light: aqua;
$color-primary-lightest: #edb6a1;
$color-primary-white: #faece7;
$color-primary-variation: #4ecaca;

$color-secondary: #033b3b;
$color-secondary-dark: #022929;
$color-secondary-darkest: #011616;
$color-secondary-light: #4e7575;
$color-secondary-white: #e5ebeb;

$color-tertiary: #effa4f;
$color-tertiary-light: rgb(235, 235, 47);
$color-tertiary-dark: #e7f52d;

$color-white: #eee;
$color-black: #111;

// Shadows
$shadow-normal: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
$shadow-rise: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.8);

// Gradients
$gradient-primary-dark: linear-gradient(
  to right bottom,
  rgba($color-primary, 0.4),
  rgba($color-primary-dark, 0.4)
);

$gradient-primary-light: linear-gradient(
  to bottom right,
  rgba($color-primary-lightest, 0.7),
  rgba($color-primary-light, 0.7)
);

$gradient-secondary-light: linear-gradient(
  to bottom right,
  rgba($color-secondary-light, 0.95),
  rgba($color-secondary, 0.95)
);

$gradient-secondary-dark: linear-gradient(
  to bottom right,
  rgba($color-secondary, 0.95),
  rgba($color-secondary-dark, 0.95)
);
